<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" preserve-order="true" >
    <listeners>
        <listener class-name="pers.membrive.veracity.Listeners"/>
    </listeners>
    <test verbose="10"  name="suite">
        <classes>
            <class name="pers.membrive.veracity.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.LoginFailTest">
                <methods>
                    <include name="loginFailTest"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.ObtainProductTest">
                <methods>
                    <include name="obtainProductTest"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyCategoryCheckTest">
                <methods>
                    <include name="verifyCategoryCheckTest"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyIndustryCheckTest">
                <methods>
                    <include name="verifyIndustryCheckTest"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyProductTypeCheckTest">
                <methods>
                    <include name="verifyProductTypeCheckTest"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyProviderSelectTest">
                <methods>
                    <include name="verifyProviderSelectTest"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifySearcherTest">
                <methods>
                    <include name="verifySearcherTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>