<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="pers.membrive.veracity.Listeners"></listener>
    </listeners>
    <test verbose="10" preserve-order="true" name="C:/Users/membr/IdeaProjects/dnv">
        <classes>
            <class name="pers.membrive.veracity.Login">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.ObtainProduct">
                <methods>
                    <include name="obtainProduct"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyCategoryCheck">
                <methods>
                    <include name="verifyCategoryCheck"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyIndustryCheck">
                <methods>
                    <include name="verifyIndustryCheck"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyProductTypeCheck">
                <methods>
                    <include name="verifyProductTypeCheck"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifyProviderSelect">
                <methods>
                    <include name="verifyProviderSelect"/>
                </methods>
            </class>
            <class name="pers.membrive.veracity.VerifySearcher">
                <methods>
                    <include name="verifySearcher"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>